

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #0f172a;
  color: #f1f5f9;
  line-height: 1.6;
  padding-top: 70px;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* ===== Navbar ===== */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(15, 23, 42, 0.95);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 4%;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
}

.logo-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #fff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
  transition: 0.3s ease;
}

.nav-links a {
  color: #f1f5f9;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #facc15;
  text-decoration: underline;
}

.menu-toggle {
  display: none;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

/* ===== Home Section ===== */
#home {
  min-height: 100vh;
  background-image: url("https://thumbs.dreamstime.com/b/close-up-programming-code-laptop-screen-blurred-background-aig-f-computer-engineering-prompt-written-smart-330801510.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 0 15px;
}

.home-content h1 {
  font-size: 240%;
  margin-bottom: 30px;
  animation: slideDown 1.4s ease forwards;
}

.home-content p {
  font-size: 95%;
  font-weight: bold;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  padding: 12px 25px;
  margin-top: 40px;
  border-radius: 30px;
  background: #fff;
  color: #0f172a;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background: #facc15;
  transform: scale(1.1);
}

.diver {
  height: 30px;
  background-color: #fff;
}


section {
  padding: 80px 10%;
  background: linear-gradient(135deg, #19062b, #163a74);
}

h2 {
  text-align: center; 
  font-size: 280%;
  margin-bottom: 40px;
  position: relative;
}

h2::after {
  content: "";
  width: 150px;
  height: 5px;
  background: #82a5db;
  display: block;
  margin: 10px auto;
  border-radius: 2px;
}



 .about-info  {
  margin: 12px 0;
  font-size: 95%;
  padding: 35px 50px 20px 5px;
  margin: 15px 60px 10px 10px;
   height: 70%;
  width: 110%; 

} 

.about-info p strong {
  color: #fff;
}
 .info::after{
    content: "";
  width: 100%;
  height: 2px;
  background: #82a5db;
  display: block;
  margin: 10px auto;
  border-radius: 2px;
}

.about-info a {
  color:#e7eaec;
  text-decoration: none;
}

.about-info a:hover {
  text-decoration: underline;
  color:  #b2dcf0;
}



#about p {
  font-size: 150%;
  color: #cbd5e1;
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.8;
  padding: 0 10px;
}


.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background: linear-gradient(135deg, #5474a3, #102e5f);
  padding: 30px;
  text-align: center;
  border-radius: 15px;
  transition: 0.3s;
  cursor: pointer;
  box-shadow: 0 6px 6px rgba(171, 171, 214, 0.1);
}

.card:hover {
  background: linear-gradient(135deg, #102e5f, #5474a3);
  transform: translateY(-8px);
}

.project-card {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
}

.project-details img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
  border: 2px solid #fff;
}

.project-details h4 {
  font-size: 80%;
  color: #fff;
  margin-bottom: 10px;
}

.project-details a {
  display: inline-block;
  padding: 8px 15px;
  background: #facc15;
  color: #0f172a;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
  transition: 0.3s;
}

.project-details a:hover {
  background: #fff;
  color: #0f172a;
  border: 2px solid #facc15;
}

/* ===== Contact  ===== */
form {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;
  padding: 0 15px;
}

input, textarea, button {
  padding: 12px;
  border: none;
  border-radius: 8px;
  outline: none;
  font-size: 18px;
}

input, textarea {
  background: #1e293b;
  color: #f1f5f9;
}

.butn {
  background: #7497ca;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  border: 3px solid #fff;
  border-radius: 20px;
  margin-top: 10px;
  width: 100%;
}

.butn:hover {
  background: #fff;
  border: 5px solid #638ac4;
  color: #7497ca;
}

.social {
  text-align: center;
  margin-top: 10px;
}

h5 {
  font-size: 155%;
  font-weight: bold;
  margin-left: 15px;
}

#lin {
  margin-left: 18px;
  margin-top: 20px;
  padding: 5px 8px;
  font-size: 22px;
  font-weight: bold;
  color: #7497ca;
}

#lin:hover {
  color: #fff;
}

/* ===== Animations ===== */
@keyframes slideDown {
  from { transform: translateY(-40px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}


  
  @keyframes dropdown {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

   .nav-links li {
    padding: 10px ;
   }



/* ===== Responsive ===== */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
    z-index: 1001;
  }

  .nav-links {
    display: none;
    position: absolute;
    top: 60px;
    right: 20px;
    background: rgba(55, 72, 150, 0.8);
    width: 200px;
    flex-direction: column;
    gap: 20px;
    padding: 10px 0;
    transition: right 0.3s ease-in-out;
    animation: dropdown 0.3s ease; 
  }

  .nav-links.active {
    display: block;
  }


    .about-section {
    flex-direction: column;
 }
}